<h1>New Orleans Neighborhoods:</h1>
<ul>
	<% @neighborhoods.each do |neighborhood| %>
		<li><%= link_to neighborhood.name, neighborhood_path(neighborhood) %> </li>
		<p><%= neighborhood.description %></p>
	<% end %>	
</ul>

<% if current_user.guide_status %>
	<%= link_to "Add a New Neighborhood", new_neighborhood_path, class: "btn btn-primary" %>
<% end %>